name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # Raz dziennie o północy
  workflow_dispatch: # Pozwala odpalić ręcznie w zakładce Actions
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: SmolinskiP
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Warsaw
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_habits: yes 
          plugin_habits_charts: yes
